/* Общий стиль модального окна */
.filter-modal {
    position: absolute;
    z-index: 1000;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100px;
}

/* Скрытое состояние */
.hidden {
    display: none;
}

/* Стили списка фильтров */
.filter-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filter-list li {
    padding: 8px 10px;
    cursor: pointer;

    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-list li:hover {
    background-color: #f5f5f5;
}

/* Стили для диапазона дат */
#customRangeInputs {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#customRangeInputs label {
    font-size: 12px;
    color: #555;
}

#customRangeInputs input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

#customRangeInputs button {
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#customRangeInputs button:hover {
    background-color: #45a049;
}
.hidden {
    display: none;
}

#dateRangeContainer {
    margin-top: 10px;
    text-align: center;
}

#selectedDateRange {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    text-align: center;
}
