<div class="filter-modal-content">
    <ul class="filter-list">
        <li onclick="applyFilter('today')">Hoy</li>
        <li onclick="applyFilter('yesterday')">Ayer</li>
        <li onclick="applyFilter('last7days')">Últimos 7 días</li>
        <li onclick="applyFilter('last30days')">Últimos 30 días</li>
        <li onclick="applyFilter('thismonth')">Este mes</li>
        <li onclick="applyFilter('lastmonth')">Mes Anterior</li>
        <li onclick="applyCustomRange()">Rango Personalizado</li>
    </ul>

    <div id="dateRangeContainer" class="hidden">
        <label for="startDate">Fecha inicio:</label>
        <input type="date" id="startDate" />
        <label for="endDate">Fecha fin:</label>
        <input type="date" id="endDate" />
        <button onclick="applyCustomDateRange()">Aplicar</button>
    </div>
    <p id="selectedDateRange" class="hidden">Rango seleccionado: <span id="displayDateRange"></span></p>
</div>
