<div class="group-modal-content">
    <ul class="group-filter-list">
        <li>
            <input type="checkbox" id="salaCheckbox" value="Sala" onchange="filterByGroup(this)">
            <label for="salaCheckbox">Sala</label>
        </li>
        <li>
            <input type="checkbox" id="cocinaCheckbox" value="Cocina" onchange="filterByGroup(this)">
            <label for="cocinaCheckbox">Cocina</label>
        </li>
    </ul>
    <button onclick="closeGroupModal()">close</button>
</div>
