<div id="editProfileModal" class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <form id="editProfileForm">
                <h2>Edit Profile</h2>
                <label for="cafeName">Cafe Name</label>
                <input type="text" id="cafeName" name="cafe_name" placeholder="Corgi Cafe Sagrada" required>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="info@corgicafe.es" required>

                <label for="phone">Phone</label>
                <input type="tel" id="phone" name="phone" placeholder="+34 695 279 140" required>

                <label for="telegram">Telegram</label>
                <input type="text" id="telegram" name="telegram" placeholder="@corgicafe" required>

                <label for="instagram">Instagram</label>
                <input type="text" id="instagram" name="instagram" placeholder="@corgicafe_bcn" required>

                <div class="modal-footer">
                    <button type="submit" class="save-btn">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>