<div id="newscheduleModal" class="modal hidden">
    <div class="modal-content">
        <button class="close-btn" onclick="closeNewScheduleModal()">&times;</button>
        <h3>Новое расписание</h3>
        <label for="checkInStart">Начало (от):</label>
        <input type="time" id="checkInStart">
        <label for="checkInEnd">Начало (до):</label>
        <input type="time" id="checkInEnd">
        <label for="checkOutStart">Конец (от):</label>
        <input type="time" id="checkOutStart">
        <label for="checkOutEnd">Конец (до):</label>
        <input type="time" id="checkOutEnd">
        <button onclick="applyRandomSchedule()">Применить</button>
    </div>
</div>
