<div id="newscheduleModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" onclick="closeNewScheduleModal()">&times;</span>
        <h2>Новое расписание</h2>
        <form>
            <label for="checkInStart">Время входа от:</label>
            <input type="time" id="checkInStart" />
            <label for="checkInEnd">Время входа до:</label>
            <input type="time" id="checkInEnd" />
            <label for="checkOutStart">Время выхода от:</label>
            <input type="time" id="checkOutStart" />
            <label for="checkOutEnd">Время выхода до:</label>
            <input type="time" id="checkOutEnd" />
            <button type="button" onclick="applyRandomSchedule()">Применить</button>
        </form>
    </div>
</div>
<!-- Проверка изменений -->
